<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNGLearning">

<listeners> 
 <listener class-name="TestListners"></listener>
 
 </listeners>
  <test name="Test">
    <classes>
      <class name="TestCase3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

